In [3]:
#Import library
import pandas as pd
import numpy as np

In [4]:
#load data
jobs_posting = pd.read_csv('./data/job_postings.csv')
jobs_posting.head(5)

,job_id,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,NaN,Entry level,NaN,1.700000e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,NaN,NaN,NaN,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,NaN,Entry level,NaN,1.700000e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,NaN,Mid-Senior level,NaN,1.700000e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [20]:
states = pd.read_json('./data/abbr-name.json', orient='index')
states.reset_index(inplace=True)
states.columns = ['state_short_name', 'state']
states.head(5)

  state_short_name       state
0               AL     Alabama
1               AK      Alaska
2               AZ     Arizona
3               AR    Arkansas
4               CA  California

In [29]:
jobs_posting[(~jobs_posting['location'].str.contains(','))].groupby('location').size().reset_index(name = 'counts').sort_values(by = 'counts').head(10)

                            location  counts
129           Youngstown-Warren area       1
68             Greater Rockford Area       1
113          Rocky Mount-Wilson Area       1
67              Greater Roanoke Area       1
32          Greater Clarksville Area       1
110         Peoria Metropolitan Area       1
34     Greater Colorado Springs Area       1
88                             Kenya       1
36                    Greater Dothan       1
37   Greater Eugene-Springfield Area       1